
    <div class="main">
        <div class="header_ppp">
            <h3 class="header_page_location">Contact Iran Traveling Center</h3>
            <a href="#/"><img src="img/back.png"></a>
            <a class="back_home" href="#/home"><img src="img/home.png"></a>
        </div>
        <div class="contain">
            <div class="main_content_2">
                <div class="content">
                    <!-----------------------end search------------------>
                    <div class="detail_post">
                        <h2>Iran Traveling Center Address:</h2>
                       <p >
                            Hotel Homa, Meshkinfam St.
                            Shiraz , Fars 71558
                            Islamic Republic of Iran
                              <br>
                            <p ng-click="go()" style="text-decoration:underline; color:#73A1D2">www.irantravelingcenter.com<p> 
                              
                            info@irantravelingcenter.com

                       </p>
                        <h2>Iran Traveling Center Phone Numbers:</h2>
                       <p >
                           +98 71 3229 8917
                           <br>
                           +98 917 425 7008
                      </p>
                        <h2>Iran Traveling Center Office Hours:</h2>
                       <p >
                          7 day a week/ 365 day a year

                           <br>
                         7:00AM – 24:00PM (+3.5 GMT)
                      </p>
                        <p >
                        <img ng-click="go1()" src="img/map.png"/>
                         </p>  
                    </div>
                </div><!----- end content ------->
            </div><!----- end main_content ------->
        </div><!----- end contain ------->
    </div><!----- end main ------->
