 <div class="main">
        <div class="header_ppp">
            <h3 class="header_page_location">{{city_name}} HOTELS</h3>
            <a href="#/detail-city/{{city_id}}"><img src="img/back.png"></a>
            <a class="back_home" href="#/home"><img src="img/home.png"></a>
        </div>
        <div class="contain">
            <div class="main_content_2">
                <div class="content">
                    <div class="search">
                        <input type="text" name="search" ng-model="search.$" class="search_inp" placeholder="SEARCH HOTELS..." >
                        <img src="img/search.png">
                    </div>
                    <!-----------------------end search------------------>
                    <h3 class="for_title text_w_sh">{{city_name}} HOTELS</h3></h3>
                    <div class="posts">
                       
                        <!-----------------------posts------------------>
                  
                        <a  class="post_one" ng-repeat="hotel in  hotels | filter:search | orderBy:'name'" href="#/detail-hotel/{{hotel.id}}/{{city_name}}">
                            <div class="img"><img ng-src="img/bg/hotel.png"></div>
                            <span>
                                <h4>{{hotel.name}}</h4>
                                <p ng-if="hotel.star">STARS : {{hotel.star}}</p>
                            </span>
                        </a>    
                        <!-----------------------end posts------------------>
                     
                       
                    </div>
                </div><!----- end content ------->
            </div><!----- end main_content ------->
        </div><!----- end contain ------->
    </div><!----- end main ------->
