
    <div class="main">
        <div class="header_ppp">
            <h3 class="header_page_location">{{nightlife_detail[0].name}}</h3>
            <a href="#/nightlife/{{nightlife_detail[0].city_id}}/{{city_name}}"><img src="img/back.png"></a>
            <a class="back_home" href="#/home"><img src="img/home.png"></a>
        </div>
        <div class="contain">
            <div class="main_content_2">
                <div class="content">
                    <!-----------------------end search------------------>
                    <div class="detail_post">
                        <h1>{{nightlife_detail[0].name}}</h1>
                        <h2 ng-if="nightlife_detail[0].address">ADDRESS : {{nightlife_detail[0].address}}</h2>
                        <p ng-if="nightlife_detail[0].open">OPEN : {{nightlife_detail[0].open}}</p>
                        <p ng-if="nightlife_detail[0].description">{{nightlife_detail[0].description}}</p>
                    
                        
                    </div>
                </div><!----- end content ------->
            </div><!----- end main_content ------->
        </div><!----- end contain ------->
    </div><!----- end main ------->
