 <div class="main">
        <div class="header_ppp">
            <h3 class="header_page_location">AIRPORTS</h3>
            <a href="#/"><img src="img/back.png"></a>
            <a class="back_home" href="#/home"><img src="img/home.png"></a>
        </div>
        <div class="contain">
            <div class="main_content_2">
                <div class="content">
                    <div class="search">
                        <input type="text" name="search" ng-model="search.$" class="search_inp" placeholder="SEARCH NAME,CITY OR ..." >
                        <img src="img/search.png">
                    </div>
                    <!-----------------------end search------------------>
                    <h3 class="for_title text_w_sh">AIRPORTS</h3></h3>
                    <div class="posts">
                       
                        <!-----------------------posts------------------>
                  
                        <a  class="post_one" ng-repeat="airport in  airports | filter:search | orderBy:'Name_of_the_Airports'" href="#/detail-airport/{{airport.id}}">
                            <div class="img"><img src="img/bg/airport.jpg"></div>
                            <span>
                                <h4>{{airport.Name_of_the_Airports}}</h4>
                                <p>{{airport.City}}</p>
                            </span>
                        </a>    
                        <!-----------------------end posts------------------>
                     
                       
                    </div>
                </div><!----- end content ------->
            </div><!----- end main_content ------->
        </div><!----- end contain ------->
    </div><!----- end main ------->
